<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excelix - Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <!-- navbar -->
    <nav>
        <div class="nav-container">
            <div class="name-profile">
                <img src="{{ url_for('static', filename='assets/profile.jpeg') }}" alt="Profile Picture">
                <p>Excelix</p>
            </div>
            <div class="nav-links">
                <a href="#" onclick="go('home')">Home</a>
                <a href="#" onclick="go('about')">About</a>
                <a href="#" onclick="go('hobbies')">Hobbies</a>
                <a href="#" onclick="go('projects')">Projects</a>
                <a href="#" onclick="go('contact')">Contact</a>
            </div>
        </div>
    </nav>

    <!-- contents -->
    <div class="container">
        <div class="content">
            <div class="home part" id="home">
                <h1 class="hi">Hi!,I'm <span>Excelix</span></h1>
                <p class="desc">I'm just a small developer with experience in web development and design.</p>
            </div>

            <div class="about section part" id="about">
                <h2>About Me</h2>
                <div class="about-content">
                    <img src="{{ url_for('static', filename='assets/profile.jpeg') }}" alt="About Image">
                    <p class="desc">{{ about }}</p>
                </div>
            </div>

            <div class="hobbies section part" id="hobbies">
                <h2>My Hobbies</h2>
                <p>Here are some of my hobbies:</p>
                <div class="hobby-cards">
                    {% for hobby in hobbies %}
                    <div class="card">
                        <p class="label">{{ hobby['name'] }}</p>
                        <img src="{{ url_for('static', filename='assets/hobbies/' + hobby['file']) }}" alt="{{ hobby['name'] }}">
                        <p class="description">{{ hobby['description'] }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="projects section part" id ="projects">
                <h2>My Projects</h2>
                <p>Here are some of the projects, <span>there may be some projects that i don't continue or unfinished</span> :</p>
                <div class="project-cards">
                    {% for project in projects %}
                    <div class="card">
                        <p class="label">{{ project["name"] }}</p>
                        {% if project['file'] and project['file_type'] %}
                            {% if project["file_type"] == "video" %}
                                <video controls>
                                    <source src="{{ url_for('static',filename='assets/projects/' + project['file']) }}">
                                </video>
                            {% elif project["file_type"] == "image" %}
                                <img src="{{ url_for('static',filename='assets/projects/' + project['file']) }}" alt="{{ project['name'] }}">
                            {% endif %}
                        {% endif %}
                        <div class="description">{{ project['description'] }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="contact section part" id ="contact">
                <h2>Contact Me</h2>
                <p>If you have any questions, feel free to reach out!</p>
                <div class="contact-content">
                    <div class="contact-links">
                        <a href="{{ github_link }}" class="contact-link" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="{{ instagram_link }}" class="contact-link" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="{{ twitter_link }}" class="contact-link" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="{{ youtube_link }}" class="contact-link" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="quote">
                    <p>“{{ quote }}”</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</html>